# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Generated Data
data/processed/faiss_index.bin
data/processed/text.txt

# Temporary Files
*.tmp
*.log

# OS Files
.DS_Store
Thumbs.db

# Source Documents
data/raw/*.pdf